{
    "version":"2.0",
    "metadata":{
        "apiVersion":"2023-11-27",
        "endpointPrefix":"amazoncodewhispererstreamingservice",
        "jsonVersion":"1.0",
        "protocol":"json",
        "serviceFullName":"Amazon CodeWhisperer Streaming",
        "serviceId":"CodeWhispererStreaming",
        "signatureVersion":"bearer",
        "signingName":"amazoncodewhispererstreamingservice",
        "targetPrefix":"AmazonCodeWhispererStreamingService",
        "uid":"codewhispererstreaming-2023-11-27"
    },
    "operations":{
        "ExportResultArchive":{
            "name":"ExportResultArchive",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"ExportResultArchiveRequest"},
            "output":{"shape":"ExportResultArchiveResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ConflictException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "GenerateAssistantResponse":{
            "name":"GenerateAssistantResponse",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"GenerateAssistantResponseRequest"},
            "output":{"shape":"GenerateAssistantResponseResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        },
        "GenerateTaskAssistPlan":{
            "name":"GenerateTaskAssistPlan",
            "http":{
                "method":"POST",
                "requestUri":"/"
            },
            "input":{"shape":"GenerateTaskAssistPlanRequest"},
            "output":{"shape":"GenerateTaskAssistPlanResponse"},
            "errors":[
                {"shape":"ThrottlingException"},
                {"shape":"ConflictException"},
                {"shape":"ServiceQuotaExceededException"},
                {"shape":"ResourceNotFoundException"},
                {"shape":"InternalServerException"},
                {"shape":"ValidationException"},
                {"shape":"AccessDeniedException"}
            ]
        }
    },
    "shapes":{
        "AccessDeniedException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"},
                "reason":{"shape":"AccessDeniedExceptionReason"}
            },
            "exception":true
        },
        "AccessDeniedExceptionReason":{
            "type":"string",
            "enum":["UNAUTHORIZED_CUSTOMIZATION_RESOURCE_ACCESS"]
        },
        "AppStudioState":{
            "type":"structure",
            "required":[
                "namespace",
                "propertyName",
                "propertyContext"
            ],
            "members":{
                "namespace":{"shape":"AppStudioStateNamespaceString"},
                "propertyName":{"shape":"AppStudioStatePropertyNameString"},
                "propertyValue":{"shape":"AppStudioStatePropertyValueString"},
                "propertyContext":{"shape":"AppStudioStatePropertyContextString"}
            }
        },
        "AppStudioStateNamespaceString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "AppStudioStatePropertyContextString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "AppStudioStatePropertyNameString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "AppStudioStatePropertyValueString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "ArtifactId":{
            "type":"string",
            "max":126,
            "min":1,
            "pattern":"[a-zA-Z0-9-_]+"
        },
        "AssistantResponseEvent":{
            "type":"structure",
            "required":["content"],
            "members":{
                "content":{"shape":"AssistantResponseEventContentString"}
            },
            "event":true
        },
        "AssistantResponseEventContentString":{
            "type":"string",
            "max":10240,
            "min":0,
            "sensitive":true
        },
        "AssistantResponseMessage":{
            "type":"structure",
            "required":["content"],
            "members":{
                "messageId":{"shape":"MessageId"},
                "content":{"shape":"AssistantResponseMessageContentString"},
                "supplementaryWebLinks":{"shape":"SupplementaryWebLinks"},
                "references":{"shape":"References"},
                "followupPrompt":{"shape":"FollowupPrompt"}
            }
        },
        "AssistantResponseMessageContentString":{
            "type":"string",
            "max":4096,
            "min":0,
            "sensitive":true
        },
        "BinaryMetadataEvent":{
            "type":"structure",
            "members":{
                "size":{"shape":"Long"},
                "mimeType":{"shape":"String"},
                "contentChecksum":{"shape":"ContentChecksum"},
                "contentChecksumType":{"shape":"ContentChecksumType"}
            },
            "event":true,
            "sensitive":true
        },
        "BinaryPayloadEvent":{
            "type":"structure",
            "members":{
                "bytes":{"shape":"PartBody"}
            },
            "event":true,
            "sensitive":true
        },
        "ChatHistory":{
            "type":"list",
            "member":{"shape":"ChatMessage"},
            "max":10,
            "min":0
        },
        "ChatMessage":{
            "type":"structure",
            "members":{
                "userInputMessage":{"shape":"UserInputMessage"},
                "assistantResponseMessage":{"shape":"AssistantResponseMessage"}
            },
            "union":true
        },
        "ChatResponseStream":{
            "type":"structure",
            "members":{
                "messageMetadataEvent":{"shape":"MessageMetadataEvent"},
                "assistantResponseEvent":{"shape":"AssistantResponseEvent"},
                "codeReferenceEvent":{"shape":"CodeReferenceEvent"},
                "supplementaryWebLinksEvent":{"shape":"SupplementaryWebLinksEvent"},
                "followupPromptEvent":{"shape":"FollowupPromptEvent"},
                "invalidStateEvent":{"shape":"InvalidStateEvent"},
                "error":{"shape":"InternalServerException"}
            },
            "eventstream":true
        },
        "ChatTriggerType":{
            "type":"string",
            "enum":[
                "MANUAL",
                "DIAGNOSTIC"
            ]
        },
        "CodeReferenceEvent":{
            "type":"structure",
            "members":{
                "references":{"shape":"References"}
            },
            "event":true
        },
        "ConflictException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "ContentChecksum":{
            "type":"string",
            "max":512,
            "min":1
        },
        "ContentChecksumType":{
            "type":"string",
            "enum":["SHA_256"]
        },
        "ContextTruncationScheme":{
            "type":"string",
            "enum":[
                "ANALYSIS",
                "GUMBY"
            ]
        },
        "ConversationId":{
            "type":"string",
            "max":128,
            "min":1
        },
        "ConversationState":{
            "type":"structure",
            "required":[
                "currentMessage",
                "chatTriggerType"
            ],
            "members":{
                "conversationId":{"shape":"ConversationId"},
                "history":{"shape":"ChatHistory"},
                "currentMessage":{"shape":"ChatMessage"},
                "chatTriggerType":{"shape":"ChatTriggerType"},
                "customizationArn":{"shape":"ResourceArn"}
            }
        },
        "CursorState":{
            "type":"structure",
            "members":{
                "position":{"shape":"Position"},
                "range":{"shape":"Range"}
            },
            "union":true
        },
        "Diagnostic":{
            "type":"structure",
            "members":{
                "textDocumentDiagnostic":{"shape":"TextDocumentDiagnostic"},
                "runtimeDiagnostic":{"shape":"RuntimeDiagnostic"}
            },
            "union":true
        },
        "DiagnosticSeverity":{
            "type":"string",
            "enum":[
                "ERROR",
                "WARNING",
                "INFORMATION",
                "HINT"
            ]
        },
        "DocumentSymbol":{
            "type":"structure",
            "required":[
                "name",
                "type"
            ],
            "members":{
                "name":{"shape":"DocumentSymbolNameString"},
                "type":{"shape":"SymbolType"},
                "source":{"shape":"DocumentSymbolSourceString"}
            }
        },
        "DocumentSymbolNameString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "DocumentSymbolSourceString":{
            "type":"string",
            "max":256,
            "min":1
        },
        "DocumentSymbols":{
            "type":"list",
            "member":{"shape":"DocumentSymbol"},
            "max":1000,
            "min":0
        },
        "EditorState":{
            "type":"structure",
            "members":{
                "document":{"shape":"TextDocument"},
                "cursorState":{"shape":"CursorState"},
                "relevantDocuments":{"shape":"RelevantDocumentList"}
            }
        },
        "EnvState":{
            "type":"structure",
            "members":{
                "operatingSystem":{"shape":"EnvStateOperatingSystemString"},
                "currentWorkingDirectory":{"shape":"EnvStateCurrentWorkingDirectoryString"},
                "environmentVariables":{"shape":"EnvironmentVariables"}
            }
        },
        "EnvStateCurrentWorkingDirectoryString":{
            "type":"string",
            "max":256,
            "min":1,
            "sensitive":true
        },
        "EnvStateOperatingSystemString":{
            "type":"string",
            "max":32,
            "min":1,
            "pattern":"(macos|linux|windows)"
        },
        "EnvironmentVariable":{
            "type":"structure",
            "members":{
                "key":{"shape":"EnvironmentVariableKeyString"},
                "value":{"shape":"EnvironmentVariableValueString"}
            }
        },
        "EnvironmentVariableKeyString":{
            "type":"string",
            "max":256,
            "min":1,
            "sensitive":true
        },
        "EnvironmentVariableValueString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "EnvironmentVariables":{
            "type":"list",
            "member":{"shape":"EnvironmentVariable"},
            "max":100,
            "min":0
        },
        "ExportContext":{
            "type":"structure",
            "members":{
                "transformationExportContext":{"shape":"TransformationExportContext"}
            },
            "union":true
        },
        "ExportIntent":{
            "type":"string",
            "enum":[
                "TRANSFORMATION",
                "TASK_ASSIST"
            ]
        },
        "ExportResultArchiveRequest":{
            "type":"structure",
            "required":[
                "exportId",
                "exportIntent"
            ],
            "members":{
                "exportId":{"shape":"String"},
                "exportIntent":{"shape":"ExportIntent"},
                "exportContext":{"shape":"ExportContext"}
            }
        },
        "ExportResultArchiveResponse":{
            "type":"structure",
            "required":["body"],
            "members":{
                "body":{"shape":"ResultArchiveStream"}
            }
        },
        "FollowupPrompt":{
            "type":"structure",
            "required":["content"],
            "members":{
                "content":{"shape":"FollowupPromptContentString"},
                "userIntent":{"shape":"UserIntent"}
            }
        },
        "FollowupPromptContentString":{
            "type":"string",
            "max":4096,
            "min":0,
            "sensitive":true
        },
        "FollowupPromptEvent":{
            "type":"structure",
            "members":{
                "followupPrompt":{"shape":"FollowupPrompt"}
            },
            "event":true
        },
        "GenerateAssistantResponseRequest":{
            "type":"structure",
            "required":["conversationState"],
            "members":{
                "conversationState":{"shape":"ConversationState"},
                "profileArn":{"shape":"ProfileArn"}
            }
        },
        "GenerateAssistantResponseResponse":{
            "type":"structure",
            "required":[
                "conversationId",
                "generateAssistantResponseResponse"
            ],
            "members":{
                "conversationId":{"shape":"ConversationId"},
                "generateAssistantResponseResponse":{"shape":"ChatResponseStream"}
            }
        },
        "GenerateTaskAssistPlanRequest":{
            "type":"structure",
            "required":[
                "conversationState",
                "workspaceState"
            ],
            "members":{
                "conversationState":{"shape":"ConversationState"},
                "workspaceState":{"shape":"WorkspaceState"}
            }
        },
        "GenerateTaskAssistPlanResponse":{
            "type":"structure",
            "members":{
                "planningResponseStream":{"shape":"ChatResponseStream"}
            }
        },
        "GitState":{
            "type":"structure",
            "members":{
                "status":{"shape":"GitStateStatusString"}
            }
        },
        "GitStateStatusString":{
            "type":"string",
            "max":4096,
            "min":0,
            "sensitive":true
        },
        "Integer":{
            "type":"integer",
            "box":true
        },
        "InternalServerException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true,
            "fault":true,
            "retryable":{"throttling":false}
        },
        "InvalidStateEvent":{
            "type":"structure",
            "required":[
                "reason",
                "message"
            ],
            "members":{
                "reason":{"shape":"InvalidStateReason"},
                "message":{"shape":"InvalidStateEventMessageString"}
            },
            "event":true
        },
        "InvalidStateEventMessageString":{
            "type":"string",
            "max":10240,
            "min":0
        },
        "InvalidStateReason":{
            "type":"string",
            "enum":["INVALID_TASK_ASSIST_PLAN"]
        },
        "Long":{
            "type":"long",
            "box":true
        },
        "MessageId":{
            "type":"string",
            "max":128,
            "min":0
        },
        "MessageMetadataEvent":{
            "type":"structure",
            "members":{
                "conversationId":{"shape":"MessageMetadataEventConversationIdString"}
            },
            "event":true
        },
        "MessageMetadataEventConversationIdString":{
            "type":"string",
            "max":128,
            "min":0
        },
        "PartBody":{
            "type":"blob",
            "max":1000000,
            "min":0,
            "sensitive":true
        },
        "Position":{
            "type":"structure",
            "required":[
                "line",
                "character"
            ],
            "members":{
                "line":{"shape":"Integer"},
                "character":{"shape":"Integer"}
            }
        },
        "ProfileArn":{
            "type":"string",
            "max":950,
            "min":0,
            "pattern":"arn:[-.a-z0-9]{1,63}:codewhisperer:([-.a-z0-9]{0,63}:){2}([a-zA-Z0-9-_:/]){1,1023}"
        },
        "ProgrammingLanguage":{
            "type":"structure",
            "required":["languageName"],
            "members":{
                "languageName":{"shape":"ProgrammingLanguageLanguageNameString"}
            }
        },
        "ProgrammingLanguageLanguageNameString":{
            "type":"string",
            "max":128,
            "min":1,
            "pattern":"(python|javascript|java|csharp|typescript|c|cpp|go|kotlin|php|ruby|rust|scala|shell|sql|json|yaml|vue|tf|tsx|jsx|plaintext)"
        },
        "Range":{
            "type":"structure",
            "required":[
                "start",
                "end"
            ],
            "members":{
                "start":{"shape":"Position"},
                "end":{"shape":"Position"}
            }
        },
        "Reference":{
            "type":"structure",
            "members":{
                "licenseName":{"shape":"ReferenceLicenseNameString"},
                "repository":{"shape":"ReferenceRepositoryString"},
                "url":{"shape":"ReferenceUrlString"},
                "recommendationContentSpan":{"shape":"Span"}
            }
        },
        "ReferenceLicenseNameString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "ReferenceRepositoryString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "ReferenceUrlString":{
            "type":"string",
            "max":1024,
            "min":1
        },
        "References":{
            "type":"list",
            "member":{"shape":"Reference"},
            "max":10,
            "min":0
        },
        "RelevantDocumentList":{
            "type":"list",
            "member":{"shape":"RelevantTextDocument"},
            "max":5,
            "min":0
        },
        "RelevantTextDocument":{
            "type":"structure",
            "required":["relativeFilePath"],
            "members":{
                "relativeFilePath":{"shape":"RelevantTextDocumentRelativeFilePathString"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "text":{"shape":"RelevantTextDocumentTextString"},
                "documentSymbols":{"shape":"DocumentSymbols"}
            }
        },
        "RelevantTextDocumentRelativeFilePathString":{
            "type":"string",
            "max":4096,
            "min":1,
            "sensitive":true
        },
        "RelevantTextDocumentTextString":{
            "type":"string",
            "max":10240,
            "min":0,
            "sensitive":true
        },
        "ResourceArn":{
            "type":"string",
            "max":1224,
            "min":0,
            "pattern":"arn:([-.a-z0-9]{1,63}:){2}([-.a-z0-9]{0,63}:){2}([a-zA-Z0-9-_:/]){1,1023}"
        },
        "ResourceNotFoundException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "ResultArchiveStream":{
            "type":"structure",
            "members":{
                "binaryMetadataEvent":{"shape":"BinaryMetadataEvent"},
                "binaryPayloadEvent":{"shape":"BinaryPayloadEvent"},
                "internalServerException":{"shape":"InternalServerException"}
            },
            "eventstream":true
        },
        "RuntimeDiagnostic":{
            "type":"structure",
            "required":[
                "source",
                "severity",
                "message"
            ],
            "members":{
                "source":{"shape":"RuntimeDiagnosticSourceString"},
                "severity":{"shape":"DiagnosticSeverity"},
                "message":{"shape":"RuntimeDiagnosticMessageString"}
            }
        },
        "RuntimeDiagnosticMessageString":{
            "type":"string",
            "max":1024,
            "min":0,
            "sensitive":true
        },
        "RuntimeDiagnosticSourceString":{
            "type":"string",
            "max":1024,
            "min":0,
            "sensitive":true
        },
        "SensitiveString":{
            "type":"string",
            "sensitive":true
        },
        "ServiceQuotaExceededException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true
        },
        "ShellHistory":{
            "type":"list",
            "member":{"shape":"ShellHistoryEntry"},
            "max":20,
            "min":0
        },
        "ShellHistoryEntry":{
            "type":"structure",
            "required":["command"],
            "members":{
                "command":{"shape":"ShellHistoryEntryCommandString"},
                "directory":{"shape":"ShellHistoryEntryDirectoryString"},
                "exitCode":{"shape":"Integer"},
                "stdout":{"shape":"ShellHistoryEntryStdoutString"},
                "stderr":{"shape":"ShellHistoryEntryStderrString"}
            }
        },
        "ShellHistoryEntryCommandString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "ShellHistoryEntryDirectoryString":{
            "type":"string",
            "max":256,
            "min":1,
            "sensitive":true
        },
        "ShellHistoryEntryStderrString":{
            "type":"string",
            "max":4096,
            "min":0,
            "sensitive":true
        },
        "ShellHistoryEntryStdoutString":{
            "type":"string",
            "max":4096,
            "min":0,
            "sensitive":true
        },
        "ShellState":{
            "type":"structure",
            "required":["shellName"],
            "members":{
                "shellName":{"shape":"ShellStateShellNameString"},
                "shellHistory":{"shape":"ShellHistory"}
            }
        },
        "ShellStateShellNameString":{
            "type":"string",
            "max":32,
            "min":1,
            "pattern":"(zsh|bash|fish|pwsh|nu)"
        },
        "Span":{
            "type":"structure",
            "members":{
                "start":{"shape":"SpanStartInteger"},
                "end":{"shape":"SpanEndInteger"}
            }
        },
        "SpanEndInteger":{
            "type":"integer",
            "box":true,
            "min":0
        },
        "SpanStartInteger":{
            "type":"integer",
            "box":true,
            "min":0
        },
        "String":{"type":"string"},
        "SupplementaryWebLink":{
            "type":"structure",
            "required":[
                "url",
                "title"
            ],
            "members":{
                "url":{"shape":"SupplementaryWebLinkUrlString"},
                "title":{"shape":"SupplementaryWebLinkTitleString"},
                "snippet":{"shape":"SupplementaryWebLinkSnippetString"}
            }
        },
        "SupplementaryWebLinkSnippetString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "SupplementaryWebLinkTitleString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "SupplementaryWebLinkUrlString":{
            "type":"string",
            "max":1024,
            "min":1,
            "sensitive":true
        },
        "SupplementaryWebLinks":{
            "type":"list",
            "member":{"shape":"SupplementaryWebLink"},
            "max":10,
            "min":0
        },
        "SupplementaryWebLinksEvent":{
            "type":"structure",
            "members":{
                "supplementaryWebLinks":{"shape":"SupplementaryWebLinks"}
            },
            "event":true
        },
        "SymbolType":{
            "type":"string",
            "enum":[
                "DECLARATION",
                "USAGE"
            ]
        },
        "TextDocument":{
            "type":"structure",
            "required":["relativeFilePath"],
            "members":{
                "relativeFilePath":{"shape":"TextDocumentRelativeFilePathString"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "text":{"shape":"TextDocumentTextString"},
                "documentSymbols":{"shape":"DocumentSymbols"}
            }
        },
        "TextDocumentDiagnostic":{
            "type":"structure",
            "required":[
                "document",
                "range",
                "source",
                "severity",
                "message"
            ],
            "members":{
                "document":{"shape":"TextDocument"},
                "range":{"shape":"Range"},
                "source":{"shape":"SensitiveString"},
                "severity":{"shape":"DiagnosticSeverity"},
                "message":{"shape":"TextDocumentDiagnosticMessageString"}
            }
        },
        "TextDocumentDiagnosticMessageString":{
            "type":"string",
            "max":1024,
            "min":0,
            "sensitive":true
        },
        "TextDocumentRelativeFilePathString":{
            "type":"string",
            "max":4096,
            "min":1,
            "sensitive":true
        },
        "TextDocumentTextString":{
            "type":"string",
            "max":10240,
            "min":0,
            "sensitive":true
        },
        "ThrottlingException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"}
            },
            "exception":true,
            "retryable":{"throttling":true}
        },
        "TransformationDownloadArtifactType":{
            "type":"string",
            "enum":[
                "ClientInstructions",
                "Logs"
            ]
        },
        "TransformationExportContext":{
            "type":"structure",
            "required":[
                "downloadArtifactId",
                "downloadArtifactType"
            ],
            "members":{
                "downloadArtifactId":{"shape":"ArtifactId"},
                "downloadArtifactType":{"shape":"TransformationDownloadArtifactType"}
            }
        },
        "UploadId":{
            "type":"string",
            "max":128,
            "min":1
        },
        "UserInputMessage":{
            "type":"structure",
            "required":["content"],
            "members":{
                "content":{"shape":"UserInputMessageContentString"},
                "userInputMessageContext":{"shape":"UserInputMessageContext"},
                "userIntent":{"shape":"UserIntent"}
            }
        },
        "UserInputMessageContentString":{
            "type":"string",
            "max":4096,
            "min":0,
            "sensitive":true
        },
        "UserInputMessageContext":{
            "type":"structure",
            "members":{
                "editorState":{"shape":"EditorState"},
                "shellState":{"shape":"ShellState"},
                "gitState":{"shape":"GitState"},
                "envState":{"shape":"EnvState"},
                "appStudioContext":{"shape":"AppStudioState"},
                "diagnostic":{"shape":"Diagnostic"}
            }
        },
        "UserIntent":{
            "type":"string",
            "enum":[
                "SUGGEST_ALTERNATE_IMPLEMENTATION",
                "APPLY_COMMON_BEST_PRACTICES",
                "IMPROVE_CODE",
                "SHOW_EXAMPLES",
                "CITE_SOURCES",
                "EXPLAIN_LINE_BY_LINE",
                "EXPLAIN_CODE_SELECTION",
                "GENERATE_CLOUDFORMATION_TEMPLATE"
            ]
        },
        "ValidationException":{
            "type":"structure",
            "required":["message"],
            "members":{
                "message":{"shape":"String"},
                "reason":{"shape":"ValidationExceptionReason"}
            },
            "exception":true
        },
        "ValidationExceptionReason":{
            "type":"string",
            "enum":[
                "INVALID_CONVERSATION_ID",
                "CONTENT_LENGTH_EXCEEDS_THRESHOLD"
            ]
        },
        "WorkspaceState":{
            "type":"structure",
            "required":[
                "uploadId",
                "programmingLanguage"
            ],
            "members":{
                "uploadId":{"shape":"UploadId"},
                "programmingLanguage":{"shape":"ProgrammingLanguage"},
                "contextTruncationScheme":{"shape":"ContextTruncationScheme"}
            }
        }
    }
}
